body, html {
	margin: 0;
	height: 100%;
	background: #fafafa;
}

/*
 * HOME PAGE
 */
.overlay {
	background: rgba(0, 0, 0, 0.3); /* fallback for old browsers */ 
	background: -webkit-linear-gradient(to bottom, rgba(153, 153, 153, 0.3), rgba(0, 0, 0, 0.3));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgba(153, 153, 153, 0.3), rgba(0, 0, 0, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.hero-image {
	/*Photo by Lukas Blazek from Unsplash.*/
	background-image: url("../img/board.jpg");
	height: 100%;

	/* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
	color: white;
	z-index: 2;

	/* Place text in the middle of the image */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
 * GUIDE
 */
#guide {
 	position: absolute;
	bottom: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	z-index: 2;
	animation: bounce 0.5s alternate infinite;
	color: white;
 }

#guide-caption {
 	margin: 12px;
}

#guide-icon {
	margin: 6px;
	padding: 6px;
	cursor: pointer;
}

#guide-icon > svg {
	height: 60px;
 	fill: white;
 }

#guide-icon > svg:hover {
 	fill: black;
 }

/*Animation taken from WDD home page*/
@keyframes bounce {
 	0% {
 		transform: translateY(0px);
 	}
 	100% {
 		transform: translateY(18px); /*CHANGE THIS VALUE LOL*/
 	}
 }


/*
 * RECIPE GRID PAGE
 */
#list {
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 300px 300px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	grid-gap: 60px 60px;
	margin: 60px 0px 100px;
}

.item  > img {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	height: 300px;
	width: auto;
}

.item {
	height: 300px;
	width: 300px;
	overflow: hidden;
	border: solid 1px black;
	/*border: solid 1px transparent;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#o1 > img {
	height: 325px;
}
